.MainLayout {
  min-height: 100vh;
}

.header {
  position: fixed;
  background-color: #fff;
  z-index: 100;
  width: 100vw;
  height: 70px;
  border-bottom: 2px solid #d0d0d0;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.content {
  max-width: 768px;
  margin: 0 auto;
  padding: 110px 0;
}
